@font-face{
	font-family: 'Asap Bold';
	src: url('../fonts/Asap/Asap-Bold.ttf') format('truetype');
}
@font-face{
	font-family: 'Asap Med';
	src: url('../fonts/Asap/Asap-Medium.ttf') format('truetype');
}
