@font-face{
	font-family: 'Asap Bold';
	src: url('../fonts/Asap/Asap-Bold.ttf') format('truetype');
}
@font-face{
	font-family: 'Asap Med';
	src: url('../fonts/Asap/Asap-Medium.ttf') format('truetype');
}
@font-face{
	font-family: 'PT Serif';
	src: url('../fonts/PT_Serif/PT_Serif-Web-BoldItalic.ttf') format('truetype');
}
