@media all and (min-width: 700px) {

  #content {
    max-width: 920px;
    padding: 0 0 15px; }

  #cover {
    display: block;
    max-width: 920px;
    width: 97.5%;
    position: fixed; }

  nav {
    display: block;
    max-width: 920px;
    width: 97.5%;
    position: fixed;
    top: 10px; }
    nav h1 {
      text-align: right;
      padding: 15px 2% 10px; }
    nav p {
      position: relative;
      top: 20px;
      float: right;
      font-size: 12px;
      letter-spacing: 0.75px;
      text-transform: uppercase;
      margin: 15px 2% 2px;
      color: #6dbce1; }
    nav ul {
      display: inline-block;
      margin: 25px 18px 10px;
      width: 96%; }
      nav ul li {
        display: inline-block;
        width: 24.5%; }
        nav ul li a.btn {
          font-size: 18px;
          padding: 10px 48px 10px 10px;
          background: url(../img/m_buttonDWN_Art.png) 90% 50% no-repeat; }

  #logo {
    margin: 10px 0; }

  #siteName {
    position: absolute;
    top: 5px;
    left: 10px;
    width: 98%; }

  .section {
    padding: 0 20px 20px; }

  .section p,
  .section a,
  #about p,
  #about li {
    font-size: 85%;
    letter-spacing: 0.05em;
    line-height: 1.35em;
    margin: 10px 1%; }

  .section p a {
    margin: 0; }

  .entry {
    cursor: pointer; }

  .entry.quote {
    cursor: auto; }
body.dark{
  background: #000;
  background: rgba(4, 94, 170, 1);
}
body.dark #content{
  background: rgba(4, 94, 170, 1);  
}
body.dark #content #cover{
  background: rgba(4, 94, 170, 1);  
}
body.dark #content .section-head{
  /*background: linear-gradient(to bottom, rgba(4, 94, 170, 0.35) 0%, rgba(4, 94, 170, 0) 23%);*/
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 35%);
}
body.dark #content .section .quote p{
  color: rgba(255,255,255,0.75) !important;  
}
body.dark #content .section .entry{
  background: rgba(4, 94, 170, 1);  
}
body.dark #content .section .entry h2{
  background: none;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.15) 100%);
  color: rgba(255,255,255,0.75);
  /*color: #0093d0;*/
}
body.dark #content .section .entry h3{
  background: linear-gradient(to bottom, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0) 100%);
  color: rgba(255,255,255,0.75);
}
body.dark #content .section .entry.quote h3{
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.15) 100%);
  color: rgba(255,255,255,0.75);
  /*border: none;*/
  /*border-bottom: 1px solid rgba(255,255,255,0.5);*/
  border-bottom: 1px solid rgba(0,0,0,0.35);
}
body.dark #content .section .entry .desc p{
  color: rgba(255,255,255,0.75);
}
body.dark #content .section .entry .desc p a:visited,
body.dark #content .section .entry .desc p a,
body.dark #content .section .entry .desc .title{
  color: rgba(255,255,255,0.5) !important;
}
body.dark .section a{
  color: rgba(255,255,255,0.75);  
}
body.dark .section-head{
  border-top: none;
}
body.dark .section-head h1{
  box-shadow: 1px 4px 4px 0 rgba(0, 0, 0, 0.15);
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
  background: linear-gradient(to bottom, rgba(4,94,170,1) 0%, rgba(255,255,255,0.25) 98%);
  /*color: rgba(4,94,170,1);*/
  color: rgba(255,255,255,0.75);
  /*border-top: rgb(4,94,170);*/
  border: none;
  margin-left: 10px;
}
body.dark #about .details p {
  color: rgba(255,255,255,0.75);
}
body.dark #about .details .title{
  color: #0093d0 !important;
}

}